doctype html
html lang='zh-Hantz'
html
	head
		title= 'Blog System'
		link(href='index.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Barrio|Caveat+Brush|Pangolin' rel='stylesheet')
	body
		div(style='float:left;margin:10px;font-size: 30px;')
			a(href='/') Home

		div(style='float:right;font-size: 30px')
			if (username && authenticated)
				a(href='/users/signout', style='margin:10px;') Sign Out
				a(href='/users/add_article', style='margin:10px;') Add Article
				a(href='/users/profile', style='margin:10px;') Profile
				span #{username}
			else
				a(href='/users/signin', style='margin:10px;') Log In
				a(href='/users/register', style='margin:10px;') Register
				a(href='/users/forget', style='margin:10px;') Forgot password
	
	div(style='padding:20px 200px')
		h1= title

	for article in blogs
		div
			div(style='float:left;margin:10px 80px;font-size:30px;font-weight:bold')= article.Username
			div(style='float:right;margin:10px 80px')= article.CreateDate
			br
			div(style='clear:both;margin:10px 80px')= article.Article
				a(href='/users/message/'+article.id, style='float:right;margin-top:105px;margin-right:20px;') Leave a message
			hr(style='margin-top:110px;')

